<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@intergrav/dev.css@6" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@intergrav/dev.css@6/theme/catppuccin-mocha.user.min.css" />
  </head>
  <body>
    <header>
	    <h1>maril.blue</h1>
	    <p>marilの個人サイト</p>
	    <nav>
		    <ul>
			    <li><a href="/">Home</a></li>
		    </ul>
	    </nav>
    </header>
    <aside>
      <nav>
        <ul>
          {{ for page of search.pages() }}
            {{ if page.basename != "" }}
              <li><a href="{{ page.url }}">{{ page.basename }}</a></li>
            {{ /if }}
          {{ /for }}
        </ul>
      </nav>
    </aside>
    <main>
      {{ content }}
    </main>
  </body>
</html>
