---
---

<header class="top-0 px-4 py-2 md:py-10 flex items-center justify-center">
  <div class="flex h-4 text-center items-center space-x-2 text-sm">
    <a
      href="/"
      class="text-foreground hover:text-foreground/80"
      aria-label="home"
    >home</a>
    <span class="text-foreground/60">|</span>
    <a
      href="/notes"
      class="text-foreground hover:text-foreground/80"
      aria-label="notes"
    >notes</a>
    <span class="text-foreground/60">|</span>
    <a
      href="/timeline"
      class="text-foreground hover:text-foreground/80"
      aria-label="timeline"
    >timeline</a>
  </div>
</header>
